<div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">{{name}}</h5>
    <p class="card-text">{{year}}</p>
    <a href="{{link}}" class="btn btn-primary">IMDB Link</a>
  </div>
</div>