<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Bibli Studios</title>
  <link rel="stylesheet" href="/public/css/style.css">
</head>

<body>
  <div class="top">
    <header>
      <h1>
        <a href="/">Bibli Studios</a>
      </h1>
      <nav>
        
      </nav>
    </header>
    <main>
      {{{ body }}}
    </main>

    <footer>
      Sit Back, Relax and Enjoy!
    </footer>
  </div>
 
  <script src="/public/js/script.js"></script>

</body>

</html>