<div>
    <div>
        <div>
            <input type="text">
            search
            <button id="search" class="btn-btn-link">Search</button>
        </div>

        <div>
            Add movie
        </div>

    </div>
    {{#if movies.length}}
    <div class="container">
        {{#each movies as |movie|}}
        {{> movies movie}}
    </div>
    {{/if}}
</div>