<div>
  <div>
    <div>
      <input type="text" >
      <button id="search" class="btn btn-primary">Search</button>

    </div>
    <br>
    <div>
      <input type="text" placeholder="Enter Movie Information">
      <button id="Name" class="btn btn-primary">Add Movie Title</button>

    </div>
    <br>
    <div>
      <input type="text" placeholder="Enter Movie Information">
      <button id="Year" class="btn btn-primary">Add Year</button>

    </div>
    <br>
    <div>
      <input type="text" placeholder="Enter Movie Information">
      <button id="Genre" class="btn btn-primary">Add Genre</button>

    </div>
    <br>
  </div>


  <div class="card" style="width: 18rem;">
    <img src="..." class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
        content.</p>
      <a href="#" class="btn btn-primary">WATCH</a>
    </div>
  </div>

</div>