<link rel="stylesheet" href="/stylesheets/style.css">

<h1>Unlimited movies, TV shows, and more.</h1>

<h4>Watch anywhere. Cancel anytime.</h4>

<h6>Ready to watch? Enter your email to create or restart your membership.</h6>

{{!-- <img src="../images/Bibli-Studio.jpg" alt="Bibli-Studio Logo"> --}}
