<link rel="stylesheet" href="/stylesheets/style.css">

<h1>Welcome to the homepage</h1>

<h4>Unlimited Entertainment</h4>

<h6>Ready to watch? Click the login button at the top right corner</h6>

<img src="../images/Bibli-Studio.jpg" alt="Bibli-Studio Logo">