<link rel="stylesheet" href="/stylesheets/style.css">

<h1 class="h1center">Unlimited movies, TV shows, and more.</h1>

<h4 class="h4center">Watch anywhere. Cancel anytime.</h4>

<h2 class="h2center">Ready to watch?</h2>
<h6 class="h6center"> Enter your email to create or restart your membership.</h6>
{{!-- slideshow --}}
<section class="items">
<div class="carouselOfImages">
  <div class="carouselImage" style="background-size:cover;">
    <img data-tab="bright" src="http://www.thebrandage.com/assets/image/uploads/haberler/Bright_TUR.jpg"/>
  </div>
  <div class="carouselImage" style="background-size:cover;">
    <img data-tab="avatar" src="https://i.pinimg.com/736x/a4/23/f8/a423f86593029b7d2a6d9f1e1fd1e406---movies-movies-to-watch-online.jpg"/>
  </div>
  <div class="carouselImage" style="background-size:cover;">
    <img data-tab="thor" src="https://mikeantjones.files.wordpress.com/2012/04/thor-film-poster.jpg"/>
  </div>
   <div class="carouselImage" style="background-size:cover;">
    <img data-tab="john" src="https://images-na.ssl-images-amazon.com/images/I/91H06HPhX%2BL._SY717_.jpg"/>
  </div>

   <div class="carouselImage" style="background-size:cover;">
    <img data-tab="deadpool2" src="https://icdn3.digitaltrends.com/image/deadpool-2-thanksgiving-poster-1294x2048.jpg"/>
  </div>

   <div class="carouselImage" style="background-size:cover;">
    <img data-tab="fight" src="https://i.pinimg.com/736x/fd/5e/66/fd5e662dce1a3a8cd192a5952fa64f02--classic-poster-classic-movies-posters.jpg"/>
  </div>

</div>
</section>

<section class="product-detail bright hide">
  <div class="product-detail-inner"><a class="product-detail-close">X</a>
    <div class="product-detail-image">
      <img src=""/></div>
    <div class="product-detail-text">
      <h3>Bright</h3>
      <p>The Abundant Life Bible offers readers insights about living the abundant life through a relationship with Jesus Christ. Topics such as joy, peace, dealing with life's tough issues, and more offer practical guidance for daily life. The Abundant Life Bible is value priced—perfect for gift giving.</p>
      <div class="price">
        <div class="price-binding">
          <h4>İmdb:</h4>
        </div>
        <div class="price-price">
          <h5>Date:</h5>
        </div>
<a data-target=".modal-1" data-toggle="modal" data-the-video="https://www.youtube.com/embed/M47Z3I7vG3w?rel=0&amp;showinfo=0&amp;wmode=opaque&amp;html5=1" class="btn btn-primary">Fragman</a>
  </div>
</section>
<section class="product-detail avatar hide">
  <div class="product-detail-inner"><a class="product-detail-close">X</a>
    <div class="product-detail-image"><img src=""/></div>
    <div class="product-detail-text">
      <h3>Avatar</h3>
      <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Amet, animi deserunt? Deleniti, in. Rem nihil quam officia cumque molestiae, a mollitia consectetur perspiciatis optio repudiandae fuga quia? Voluptatibus, accusantium sapiente?</p>
      <div class="price">
        <div class="price-binding">
          <h4>İmbdb:</h4>
        </div>
        <div class="price-price">
          <h5>Date:</h5>
        </div>
      </div>
        <a data-target=".modal-1" data-toggle="modal" data-the-video="https://www.youtube.com/embed/XtEcU3tkZBc?rel=0&amp;showinfo=0&amp;wmode=opaque&amp;html5=1" class="btn btn-primary">Fragman</a>
    </div>
  </div>
</section>


<section class="product-detail thor hide">
  <div class="product-detail-inner"><a class="product-detail-close">X</a>
    <div class="product-detail-image"><img src=""/></div>
    <div class="product-detail-text">
      <h3>Thor</h3>
      <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Suscipit, exercitationem vero? Asperiores cumque corrupti expedita? Veniam dignissimos, sit rem iusto natus at rerum sunt ipsum eius? Doloremque aut maiores iure.</p>
        <a data-target=".modal-1" data-toggle="modal" data-the-video="https://www.youtube.com/embed/ke79K4bO4P8?rel=0&amp;showinfo=0&amp;wmode=opaque&amp;html5=1" class="btn btn-primary">Fragman</a>
    </div>
  </div>
</section>
<section class="product-detail john hide">
  <div class="product-detail-inner"><a class="product-detail-close">X</a>
    <div class="product-detail-image"><img src=""/></div>
    <div class="product-detail-text">
      <h3>John Wick 2</h3>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi, possimus necessitatibus. Quaerat est tenetur quidem provident perspiciatis illo labore eaque, voluptatum fugit voluptatem facere sapiente. Officia porro deleniti inventore ipsum?</p>
        <a data-target=".modal-1" data-toggle="modal" data-the-video="https://www.youtube.com/embed/XGk2EfbD_Ps?rel=0&amp;showinfo=0&amp;wmode=opaque&amp;html5=1" class="btn btn-primary">Fragman</a>
    </div>
  </div>
</section>
<section class="product-detail bond hide">
  <div class="product-detail-inner"><a class="product-detail-close">X</a>
    <div class="product-detail-image"><img src=""/></div>
    <div class="product-detail-text">
      <h3>James Bond</h3>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis hic praesentium dicta consequuntur dolorem recusandae error quibusdam aspernatur! Itaque quisquam, perspiciatis quo facere eius pariatur suscipit! Ducimus repudiandae nihil minima?</p>
        <a data-target=".modal-1" data-toggle="modal" data-the-video="https://www.youtube.com/embed/7GqClqvlObY?rel=0&amp;showinfo=0&amp;wmode=opaque&amp;html5=1" class="btn btn-primary">Fragman</a>
    </div>
  </div>
</section>
<section class="product-detail deadpool2 hide">
  <div class="product-detail-inner"><a class="product-detail-close">X</a>
    <div class="product-detail-image"><img src=""/></div>
    <div class="product-detail-text">
      <h3>Deadpool 2</h3>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla libero debitis sit fugit explicabo dolor, mollitia unde perferendis sunt molestiae perspiciatis nesciunt odio quo minus culpa cum dignissimos eveniet totam?</p>
        <a data-target=".modal-1" data-toggle="modal" data-the-video="https://www.youtube.com/embed/PWsXQKv6UiA?rel=0&amp;showinfo=0&amp;wmode=opaque&amp;html5=1" class="btn btn-primary">Fragman</a>
    </div>
  </div>
</section>

<section class="product-detail fight hide">
  <div class="product-detail-inner"><a class="product-detail-close">X</a>
    <div class="product-detail-image"><img src=""/></div>
    <div class="product-detail-text">
      <h3>Fight Club</h3>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident a fugiat laboriosam omnis expedita repellendus animi optio maiores amet recusandae quasi, blanditiis consequatur nisi. Ad recusandae ipsa at voluptas ipsam!</p>
        <a data-target=".modal-1" data-toggle="modal" data-the-video="https://www.youtube.com/embed/SUXWAEX2jlg?rel=0&amp;showinfo=0&amp;wmode=opaque&amp;html5=1" class="btn btn-primary">Fragman</a>
    </div>
  </div>
</section>
<div id="dark"></div>
<div id="lightbox"></div>
    <div aria-labelledby="modal-1-label" class="modal fade modal-media modal-video modal-slim modal-1" role="dialog" tabindex="-1">
<div class="modal-dialog modal-lg">
<div class="modal-content">
<div class="modal-header"><button aria-label="Close" class="close" data-dismiss="modal" type="button"><span aria-hidden="true">X</span></button></div>

<div class="modal-body">
<div class="embed-responsive embed-responsive-16by9"><iframe allowfullscreen="" frameborder="0" src="" width="100%"></iframe></div>
</div>
</div>
</div>
</div>

{{!-- <img src="../images/Bibli-Studio.jpg" alt="Bibli-Studio Logo"> --}}
