<link rel="stylesheet" href="/stylesheets/style.css">

<form class="login-form">
  <div>
    <label for="email-login">Email:</label>
    <input class="emailine" type="text" id="email-login" />
  </div>
  <div class="passwordbox">
    <label for="password-login">Password:</label>
    <input class="passwordline" type="password" id="password-login" />
  </div>
  <div>
    <button class="lgnsbmt" type="submit">Login</button>
  </div>
</form>

<div>If you don't have an account, please sign up
<a href="/signup"><button class="signupbtn">here</button></a> .</div>

<script src="/js/login.js"></script>
