<link rel="stylesheet" href="/stylesheets/style.css">
<form class="signup-form">
  <div>
    <label for="username-signup">Username:</label>
    <input type="text" id="username-signup" />
  </div>
  <div class="emailsbmt">
    <label for="email-signup">Email:</label>
    <input type="text" id="email-signup" />
  </div>
  <div class="passwordsbm">
    <label for="password-signup">Password:</label>
    <input type="password" id="password-signup" />
  </div>
  <div>
    <button type="submit" class="sgnupsbmt">Sign up</button>
  </div>
  <div>
    <a href="/login"><button type="submit" class="lginbtn">Login</button></a>
  </div>
</form>

<script src="/js/login.js"></script>