* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  body, html {
    height: 100%;
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    color: #333;
    background-image: url(../images/download.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: 80%;
    z-index: 9999;
    
  }

  /* .container {
    width: 100%;
    min-height: 100%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
  } */

  header {    
    border-bottom: 1px solid #ccc;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1%;

  }
  
  header h1 {
    font-size: 1em;
  }


  
  main {
    flex: 1;
    padding: 2% 4%;
  }

  .btn-btn-link {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    text-decoration: none;
    color: #EAEAF6;
    font-size: 100%;
    font-weight: bold;
    transition: color .1s;
    margin-left: 16px;
  }

  .btn-btn-link:hover {
    background: none;
    color: #3486eb;
  }

  .signup-form {
    border: 1px solid #EAEA;
    display: block;
    padding: 7px 15px;
    font-size: 16px;
    color: black;
    width: 100%;
    margin-bottom: 15px;
    margin-top: 5px;
    border-radius: 10px;
    background-color: rgba(255,255,255, 0.75);
  }

  .login-form
  {
    border: 1px solid #EAEA;
    display: block;
    padding: 7px 15px;
    font-size: 16px;
    color: black;
    width: 100%;
    margin-bottom: 15px;
    margin-top: 5px;
    border-radius: 10px;
    background-color: rgba(255,255,255, 0.75);

  }

  footer {
    border-top: 1px solid #ccc;
    display: flex;
    justify-content: center;
    padding: 1%;
    font-size: 110%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }