* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body,
html {
    height: 100%;
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    color: #333;
    background-image: url(../images/download.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: 80%;
    z-index: 9999;
}

.card {
    width: 100%;
    min-height: 100%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    /*flex-direction: column-reverse;*/
    align-items: flex-end;
}

header {
    border-bottom: 1px solid #ccc;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1%;
}

header h1 {
    font-size: 1em;
}

main {
    flex: 1;
    padding: 2% 4%;
}

.btn-btn-link {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    text-decoration: none;
    color: #eaeaf6;
    font-size: 100%;
    font-weight: bold;
    transition: color 0.1s;
    margin-left: 16px;
}

.btn-btn-link:hover {
    background: none;
    color: #3486eb;
}

.signup-form {
    border: 1px solid #eaea;
    display: block;
    padding: 7px 15px;
    font-size: 16px;
    color: black;
    width: 100%;
    margin-bottom: 15px;
    margin-top: 5px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.75);
}

.login-form {
    border: 1px solid #eaea;
    display: block;
    padding: 7px 15px;
    font-size: 16px;
    color: black;
    width: 30%;
    margin-bottom: 15px;
    margin-top: 5px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.75);
    height: 120px;
}

footer {
    border-top: 1px solid #ccc;
    display: flex;
    justify-content: center;
    padding: 1%;
    font-size: 110%;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana,
        sans-serif;
}

.signupbtn {
    border: none;
    color: #3486eb;
    text-decoration: underline;
}

.emailine {
    position: relative;
    left: 40px;
}

.passwordline {
    position: relative;
    left: 10px;
}

.passwordbox {
    position: relative;
    top: 10px;
}

.lgnsbmt {
    border-radius: 0.375rem;
    background-color: #3486eb;
    border-color: #3486eb;
    width: 20%;
    position: relative;
    left: 135px;
    top: 20px;
    color: #fff;
}

.btn {
    position: relative;
    top: 5px;
}

.logo {
    width: 20;
    height: 20;
    padding: 0px;
    margin: 10px 5px 5px 5px;
}
.footer {
    position: relative;
    bottom: -600px;
}

.signup-form {
    position: relative;
    top: 10px;
    width: 30%;
}

#username-signup {
    position: relative;
    left: 50px;
}

#email-signup {
    position: relative;
    left: 84px;
}

#password-signup {
    position: relative;
    left: 54px;
}
